{% extends 'base.html' %}
{% load get_user %}
{% load static %}
{% block content %}

    {% get_user as profile %}

    {% if profile.recipes.all.count == 0 %}
        <p class="no-articles">There are currently no recipes available.</p>
        <!-- Display a card with information about each recipe (if any)-->
    {% else %}

        {% for recipt in profile.recipes.all %}

            <section id="catalogue">
                <div class="recipe-card">
                    <div class="image-wrap">
                        <!-- recipe image -->
                        <!-- if there is no image url provided, display the default recipe image -->
                        {% if recipt.image_url is not Null %}
                            <img
                                    class="recipe-img"
                                    src="{{ recipt.image_url }}"
                                    alt="recipe image"
                            />
                        {% else %}
                            <img
                                    class="recipe-img"
                                    src="{% static 'images/default_recipe_img.png' %}"
                                    alt="recipe image"
                            />
                        {% endif %}


                    </div>

                    <!-- recipe title -->
                    <h3>{{ recipt.title }}</h3>
                    <!-- recipe cooking time -->
                    <h1>Cooking time: {{ recipt.cooking_time }}min.</h1>
                    <!-- recipe instructions -->
                    <h1>{{ recipt.instructions|truncatechars:35 }}</h1>
                    <div class="details-buttons">
                        <!-- recipe details button -->
                        <a href="{% url 'details-view' recipt.pk %}" class="details-btn">Details</a>
                    </div>
                </div>

            </section>
        {% endfor %}

    {% endif %}

{% endblock %}